<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/signature.css"> 
<!-- <link rel="stylesheet" href="assets/css/mycustom.css">  -->
<style>
  .tooltip-inner {
    width: 125px;
    background:#b59848;
    padding:5px 5px 5px 5px;
    font-size:14px;
    font-weight:bolder;
height:auto;
  }

.largefilep {
position:fixed;
width:100%;
opacity:0.6;
filter:alpha(opacity=60);
top:0px;
min-height:200px;
height:100%;
z-index:9999999999;
background:#2c846d;
font-size:20px;
text-align:center;
display:none;
} 

.encryptfilep {
position:fixed;
width:100%;
opacity:0.6;
filter:alpha(opacity=60);
top:0px;
min-height:200px;
height:100%;
z-index:9999999999;
background:#5b4f71;
font-size:20px;
text-align:center;
display:none;
} 

.digitalfilep {
position:fixed;
width:100%;
opacity:0.6;
filter:alpha(opacity=60);
top:0px;
min-height:200px;
height:100%;
z-index:9999999999;
background:#96450e;
font-size:20px;
text-align:center;
display:none;
}

  .active span.pt6
  {
      color:#fff !important;
  }
.arrow-top { 
    top: -1px;
    }

.dropdown-menu {
    left: -15%;
  min-width: 100px;
  margin-top:0%;
  
}	
.caret {

  color: #b49948;
} 

@media screen and (min-width: 1920px)
{
.latest-trend-box a img {
  width: 195px;
 
}
}

@media screen and (max-width: 699px) {
  .hide_mob {
      display: none;

  }
  
}

@media screen and (min-width: 699px) {
  .lm {
      display: none;
      
  }
  
}

</style>





<section class="hdrsec">
  <div class="logoimg">
      <img src="../../assets/img/ezee-logo.png" />
  </div>




</section>


<div class="container" >
                  
  <div class="list-part" >

            <li class="dropdown" dropdown >
         
   <a style="cursor: pointer;" class="dropdown-toggle" dropdownToggle>
      
  <i class="fa fa-user list5" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
         
    <span class="title">{{fullname}} &nbsp;&nbsp;<b class="caret"></b></span>
          </a>

              <ul *dropdownMenu class="dropdown-menu">
                
    <li><a (click)="logout();">Logout</a></li>
               
     <li><a routerLink="/profile">View Profile</a></li>
              
     <li id=""><a href="#">Change Password</a></li>
           
     <li><a href="#">Membership Order</a></li>
  
              </ul>

           </li>
     
</div>

  </div>




  <div class="container middlemargin">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop: true }"></ngx-loading>

    <div class="row">
    
      <div class="col-lg-2 col-md-2 col-xs-12">
         
         <!--Instructions & logo part start-->		
             
         <div style="display:block; margin:0 auto;" class="col-lg-12"> 
             
           <a  data-placement="right" data-toggle="tooltip" data-original-title=""><p class="pt51 pt567">&nbsp;&nbsp;<span class="fa fa-home"></span> &nbsp;Home</p></a>
            
          </div>	
               
           <a href="">
               
             <img class="img-responsive img-portfolio2" src="../../assets/img/signature.png" style="margin-top:10%;" alt="" data-placement="right"> 
               
           </a>

    
     
     <div class="wrapper2">
    
    <li style="list-style:none; cursor:pointer;" class="toggle">
       
       <a style="cursor: pointer;" class="list-part2" (click)="showinstructions = !showinstructions" data-placement="right">
    
        <span class="title2">INSTRUCTIONS</span>
       
       </a>
        
      <ul *ngIf="showinstructions" class="drop-popup" >
         
         <div class="arrow-top"><img src="../../assets/img/arrow-top.png"></div>
          
         <div class="inst-popup" style="font-family: Century Gothic; font-size: 14px; text-align: left; font-weight: bold; color: #333;">
         
         <ul style="list-style: none; padding: 0;">
         
             <li style="margin-bottom: 10px;">Step 1:  Upload or drag and drop PDF file.</li>
         
             <li style="margin-bottom: 10px;">Step 2:  Check box, if you require an expiration date (not mandatory).</li>
             
           <li style="margin-bottom: 10px;">Step 3:  Add participants.</li>
             
           <li style="margin-bottom: 10px;">Step 4:  You can rearrange signing order under "priority". Click on arrow up or down to change signing order (not mandatory). Click next to complete.</li>
      
      
         </ul>
    
        </div>
      
      </ul>
      
      </li>
    
    </div>
  
  
      <div class="clearfix"></div>	    <!--Instructions & logo part end-->
      
    </div>
    
    <div class="col-lg-10 col-md-10 col-xs-12">
       
         <div class="inner-part8" style="box-shadow:none !important;">
        
             <div class="col-lg-12">
                  
          <div class="col-lg-12">
                   
           <p class="pt10 encryption">e-signature</p>
                  </div>
   </div>           
         
      <div class="col-lg-12">
           
       <div class="tabs-left">
  

   
   <ul class="nav nav-tabs6">
     
     <li class="active"><a href=""><span class="fa fa-file-pdf-o"></span>&nbsp;&nbsp;<span class="pt6">Compose</span></a></li>
     
     <li><a href=""><span class="fa fa-ban"></span>&nbsp;&nbsp;<span class="pt6">Action Required</span></a></li>
   
    <li class=""><a href=""><span class="fa fa-check"></span>&nbsp;&nbsp;<span class="pt6">Completed</span></a></li>
   
    <li class=""><a href=""><span class="fa fa-users"></span>&nbsp;&nbsp;<span class="pt6">Contact</span></a></li>
   
   </ul>            
       
   <div id="myTabContent" class="tab-content" style="opacity: 1;">			
           
    <div class="tab-pane active" id="home"><div class="col-lg-12 col-md-12 col-xs-12">
            
      <div class="table-responsive" style="padding-left:0px;">
     
     
     <div class="col-lg-5">
     
     <div class="box-part" style=" border-radius:0px;">
                 
       <div id="" style="display:none;"><img src="" style="" class="load-icon">
       
       <div id="" style="display:none;">
       
       <div class="loading-progress"></div>
       
       </div>
                 
       <br>
       
 
                    
          <!-- <div id='targetLayer'></div>-->
       
     </div>
                 

                   
         <input  #file type="file" (change)="fileChange($event)" class="fileUpload" style="display: none" >
       
          <button id="uploaddocbtn" type="button" (click)="file.click()" data-placement="bottom" data-toggle="tooltip" data-original-title="Browse or drag and drop pdf file here"></button>
            <file-drop  (onFileDrop)="filedropped($event)" >
                        <!--<span>optional content (don't set headertext then)</span>-->
                  </file-drop>   
         <br>

              
      </div>
      <button id="showpdf" style="display:none"  (click)="showpdf()">Hello</button>

       
     </div>
       
  <div class="col-lg-7 um-jam2 smalldivpdf" *ngIf="innerHtml"
  [innerHTML]="innerHtml">
   
 <div class="upload-cross" ></div>
       
   <span >
            
      <label class="labell">Uploaded Documents</label>
           
       
   </span>

</div>


 <modal #participantModal [hideCloseButton]="true" [closeOnOutsideClick]="false">
  
        <modal-content class="custom-mod-cont"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nullvoid">
                <div class="row nullvoid" style="border-radius:0px; box-shadow:none !important;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 partpnt_poup" style="border-radius:0px; font-family:'Century Gothic';"> <span class="partagselect"> Participant</span>
                    <input type="button" class="btn btn-danger closepar commn_btn" id="" value="Cancel" (click)="participantModal.close()" style="background:#cc3100; font-family:'Century Gothic'; font-size:14px; border-radius:0px; border:0px solid transparent; float:right;">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nullvoid" id="selectpati1">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 selectpati" (click)="addparticipantModal.open();participantModal.close();"><span  class="particiapntll" style="display:block;padding: 41px 0px; font-family:'Century Gothic';"> Add New Participants</span></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 selectpati" (click)="mycontactsModal.open();participantModal.close();"><span  style="display:block;padding: 41px 0px; font-family:'Century Gothic';"> Add From Contact</span></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 selectpati" (click)="addyourselfModal.open();participantModal.close();"><span class="particiapntll" style="display:block;padding: 41px 0px; font-family:'Century Gothic';"> Add <br>Yourself</span></div>
                  </div>
                </div>
              </div>   
                 </modal-content>
       
    </modal>


 <modal #addparticipantModal [hideCloseButton]="true" [closeOnOutsideClick]="false">
    <modal-content>
      <form method="post" novalidate="" [formGroup]="addparticipantForm" (ngSubmit)="addnewparticipant($event)">
    <div class=""  >
          <div class="col-lg-12 nullvoid" id="newparticipant">
            <div class="row nullvoid">
                <div class="col-lg-12 partpnt_poup">
                  <button type="button" class="btn btn-danger closepar commn_btn" (click)="addparticipantModal.close();" style="background:#cc3100; font-size:14px; font-family:'Century Gothic'; border-radius:0px; border:0px solid transparent; float:left;">Cancel</button>
                  <span class="partag myparttag">Add New Participant</span>
                  <button type="submit" class="btn btn-success" id="parbutton"  style="font-size:14px; font-family:'Century Gothic'; background-color:#8ec230 !important; border:0px; border-radius:0px; float:right; color:#FFFFFF;">Add</button>
                </div>
                <div class="main-box infographic-box" style="box-shadow:none !important; border-radius:0px;">
                  <div class="navbar-collapse nullvoid" style="box-shadow:none !important; border-radius:0px;">
                    <div class="col-md-12" style="padding:20px 0">
                      <div class="col-sm-12">
                        <div class="col-md-2 nullvoid"> <span style="font-size:21px;"><span class="error">*</span>Type:</span> </div>
                        <div class="col-md-5 myradiodiv nullvoid"> &nbsp;&nbsp;&nbsp;
                           <input type="radio"  value="Remote Signer" tabindex="0" formControlName="type" [checked]="true" > 
                         <label>Remote Signer</label>
                          
                         <!-- <input type="radio" value="Remote Signer" id="test1" name="radio-group" checked>
                         <label for="test1">Apple</label> -->
                        
                        </div>
                        <div class="col-md-5 myradiodiv nullvoid"> &nbsp;&nbsp;&nbsp; 
                        <input type="radio"  value="Reviewer" tabindex="0" formControlName="type"> 
                        <label>Reviewer</label>
                        </div>
                  
                      <br>
                      <br>
                      <br>
                      <div class="col-md-6">              
                        <div class="col-sm-12"><span class="fontlabel">First Name</span>
                          <input type="text" formControlName="firstName" class="form-control commn_text" tabindex="1">
                        </div>
                        <div class="col-sm-12"><span class="fontlabel">Email ID</span> 
                          <input type="text" formControlName="email" class="form-control commn_text"  tabindex="3">
            
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-sm-12"> <span class="fontlabel">Last Name</span>
                          <input type="text" formControlName="lastName" class="form-control commn_text" tabindex="2">
                        </div>
                        <div class="col-sm-12"> <span class="fontlabel">Address</span>
                          <input type="text" formControlName="address" class="form-control commn_text"  tabindex="4">
                        </div>
                      </div>              
                      <div class="col-md-12"> 
                      <div class="col-sm-12">
                      <span class="fontlabel"><span class="fontlabel"></span>Subject</span>
                       <input type="text" formControlName="subject" class="form-control commn_text"  tabindex="5">
                      </div>
                      </div>  
                      <div class="col-md-12"> 
                      <div class="col-sm-12">
                      <br>
                      <span class="fontlabel"><span class="fontlabel"></span>Message</span>
                        <textarea formControlName="message" placeholder="Send a note with your contract" class="form-control commn_text"  tabindex="6"></textarea>
                      </div>
                      </div>
                      <span *ngIf="error">{{error}}</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
         </div>
         </div>
        </form>
    </modal-content>
       
</modal>

<modal #mycontactsModal [hideCloseButton]="true" [closeOnOutsideClick]="false">
<modal-content>
    <div class=""> 
        <div id="fade" class="popup2"></div>
        
         <div class="col-lg-12 nullvoid">
           <div class="row nullvoid">
             <div class="col-lg-12 partpnt_poup"> <span id="partagcontact"> Add From Contact</span>
               <button type="button" (click)="mycontactsModal.close();" class="btn btn-danger closepar commn_btn"  style="background:#cc3100; font-size:14px; font-family:'Century Gothic'; border-radius:0px; border:0px solid transparent; float:right;">Cancel</button>
             </div>
           </div>
           <div>
               <div class="col-lg-12 contact" (click)="contactdetail(contact.email);" *ngFor = "let contact of mycontacts"> 
             <span>{{contact.firstName}}  {{contact.lastName}} </span><br/> 
               <span>({{contact.email}})</span> 
           </div>
               </div>
         </div>
         <!--</div>-->
       </div>

</modal-content>
</modal>


<modal #addyourselfModal [hideCloseButton]="true" [closeOnOutsideClick]="false">
  <modal-content>
    <form method="post" novalidate=""   [formGroup]="addyourselfForm" (ngSubmit)="addyourself($event)">
  <div class=""  >
        <div class="col-lg-12 nullvoid">
          <div class="row nullvoid">
              <div class="col-lg-12 partpnt_poup">
                <button type="button" class="btn btn-danger closepar commn_btn" (click)="addyourselfModal.close();" style="background:#cc3100; font-size:14px; font-family:'Century Gothic'; border-radius:0px; border:0px solid transparent; float:left;">Cancel</button>
                <span class="partag myparttag">Add Yourself</span>
                <button type="submit"  class="btn btn-success"  style="font-size:14px; font-family:'Century Gothic'; background-color:#8ec230 !important; border:0px; border-radius:0px; float:right; color:#FFFFFF;">Add</button>
              </div>
              <div class="main-box infographic-box" style="box-shadow:none !important; border-radius:0px;">
                <div class="navbar-collapse nullvoid" style="box-shadow:none !important; border-radius:0px;">
                  <div class="col-md-12" style="padding:20px 0">
                    <div class="col-sm-12">
                      <div class="col-md-2 nullvoid"> <span style="font-size:21px;"><span class="error">*</span>Type:</span> </div>
                      <div class="col-md-5 myradiodiv nullvoid"> &nbsp;&nbsp;&nbsp;
                         <input type="radio"  value="Remote Signer" tabindex="0" formControlName="type" [checked]="true" > 
                       <label>Remote Signer</label>
                        
                       <!-- <input type="radio" value="Remote Signer" id="test1" name="radio-group" checked>
                       <label for="test1">Apple</label> -->
                      
                      </div>
                      <div class="col-md-5 myradiodiv nullvoid"> &nbsp;&nbsp;&nbsp; 
                      <input type="radio"  value="Reviewer" tabindex="0" formControlName="type"> 
                      <label>Reviewer</label>
                      </div>
                
                    <br>
                    <br>
                    <br>
                    <div class="col-md-6">              
                      <div class="col-sm-12"><span class="fontlabel">First Name</span>
                        <input type="text" formControlName="firstName" [value]="firstName" class="form-control commn_text" tabindex="1">
                      </div>
                      <div class="col-sm-12"><span class="fontlabel">Email ID</span> 
                        <input type="text" formControlName="email" [value]="email" class="form-control commn_text"  tabindex="3">
          
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-sm-12"> <span class="fontlabel">Last Name</span>
                        <input type="text" formControlName="lastName" value="{{lastName}}" class="form-control commn_text" tabindex="2">
                      </div>
                      <div class="col-sm-12"> <span class="fontlabel">Address</span>
                        <input type="text" formControlName="address" class="form-control commn_text"  tabindex="4">
                      </div>
                    </div>              
                    <div class="col-md-12"> 
                    <div class="col-sm-12">
                    <span class="fontlabel"><span class="fontlabel"></span>Subject</span>
                     <input type="text" formControlName="subject" class="form-control commn_text"  tabindex="5">
                    </div>
                    </div>  
                    <div class="col-md-12"> 
                    <div class="col-sm-12">
                    <br>
                    <span class="fontlabel"><span class="fontlabel"></span>Message</span>
                      <textarea formControlName="message" placeholder="Send a note with your contract" class="form-control commn_text"  tabindex="6"></textarea>
                    </div>
                    </div>
                    <span *ngIf="error">{{error}}</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
       </div>
       </div>
      </form>
  </modal-content>
     
</modal>
         

<modal #contactdetailModal [hideCloseButton]="true" [closeOnOutsideClick]="false">
  <modal-content>
    <form method="post" novalidate="" #formCtrl="ngForm" [formGroup]="contactdetailForm" (ngSubmit)="addfromcontact($event)">
  <div class=""  >
        <div class="col-lg-12 nullvoid">
          <div class="row nullvoid">
              <div class="col-lg-12 partpnt_poup">
                <button type="button" class="btn btn-danger closepar commn_btn" (click)="contactdetailModal.close();" style="background:#cc3100; font-size:14px; font-family:'Century Gothic'; border-radius:0px; border:0px solid transparent; float:left;">Cancel</button>
                <span class="partag myparttag">Add New Participant</span>
                <button type="submit"  class="btn btn-success"  style="font-size:14px; font-family:'Century Gothic'; background-color:#8ec230 !important; border:0px; border-radius:0px; float:right; color:#FFFFFF;">Add</button>
              </div>
              <div class="main-box infographic-box" style="box-shadow:none !important; border-radius:0px;">
                <div class="navbar-collapse nullvoid" style="box-shadow:none !important; border-radius:0px;">
                  <div class="col-md-12" style="padding:20px 0">
                    <div class="col-sm-12">
                      <div class="col-md-2 nullvoid"> <span style="font-size:21px;"><span class="error">*</span>Type:</span> </div>
                      <div class="col-md-5 myradiodiv nullvoid"> &nbsp;&nbsp;&nbsp;
                         <input type="radio"  value="Remote Signer" tabindex="0" formControlName="type" [checked]="true" > 
                       <label>Remote Signer</label>
                        
                       <!-- <input type="radio" value="Remote Signer" id="test1" name="radio-group" checked>
                       <label for="test1">Apple</label> -->
                      
                      </div>
                      <div class="col-md-5 myradiodiv nullvoid"> &nbsp;&nbsp;&nbsp; 
                      <input type="radio"  value="Reviewer" tabindex="0" formControlName="type"> 
                      <label>Reviewer</label>
                      </div>
                
                    <br>
                    <br>
                    <br>
                    <div class="col-md-6">              
                      <div class="col-sm-12"><span class="fontlabel">First Name</span>
                        <input type="text" formControlName="firstName" value="{{contactfirstName}}" class="form-control commn_text" tabindex="1">
                      </div>
                      <div class="col-sm-12"><span class="fontlabel">Email ID</span> 
                        <input type="text" formControlName="email" value= "{{contactemail}}" class="form-control commn_text"  tabindex="3">
          
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-sm-12"> <span class="fontlabel">Last Name</span>
                        <input type="text" formControlName="lastName" value="{{contactlastName}}" class="form-control commn_text" tabindex="2">
                      </div>
                      <div class="col-sm-12"> <span class="fontlabel">Address</span>
                        <input type="text" formControlName="address" class="form-control commn_text"  tabindex="4">
                      </div>
                    </div>              
                    <div class="col-md-12"> 
                    <div class="col-sm-12">
                    <span class="fontlabel"><span class="fontlabel"></span>Subject</span>
                     <input type="text" formControlName="subject" class="form-control commn_text"  tabindex="5">
                    </div>
                    </div>  
                    <div class="col-md-12"> 
                    <div class="col-sm-12">
                    <br>
                    <span class="fontlabel"><span class="fontlabel"></span>Message</span>
                      <textarea formControlName="message" placeholder="Send a note with your contract" class="form-control commn_text"  tabindex="6"></textarea>
                    </div>
                    </div>
                    <span *ngIf="error">{{error}}</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
       </div>
       </div>
      </form>
  </modal-content>
     
</modal>
         <div class="col-lg-12">
               
       <div class="form-group um-jap"  style="margin-left:-3%;">
                 
       <label for="inputEmail" class="col-lg-3 control-label2">Reference No.</label>
                 
       <div class="col-lg-9">
                   
         <input type="text" name="refnumber" class="form-control pannel-1" placeholder="Ref.0000022" style="color:#000" value="Ref-{{documentcount}}" readonly="">
                 
       </div>
               
       </div>				  
               
       <div class="form-group groups_group1" style="margin-left:-3%;">
       
       <span id="expirationdate" style="margin-top:0px;">
                
        <label for="inputEmail" class="col-lg-3 control-label2" style="float: left;">Expiration Date</label>
                 
       <div class="col-lg-1" style="margin-top:0px;">
            <input type="checkbox" id="chk" name="chk" style="margin-top: 10px;height:20px;width: 20px; border: 3px #b49948 solid;" [(ngModel)]="showexpdate"> </div>             
                  
        <div class="col-lg-8" style="margin-top:10px;">				  
                     
           
      <div *ngIf="showexpdate">
            <input class="form-control pannel calinput" placeholder="Select a date" ngx-mydatepicker name="mydate"
                   [(ngModel)]="model" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
    
           
               
                <button type="button" class="calbtn" (click)="dp.toggleCalendar()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>
        


       </div>
       
       </span>
             
     </div>	
      

        


     <div class="col-md-12 Umang" id="added" style="padding:0px 0 0 0;border: 2px #858f03 solid; margin-top:10px; background: #ffff;"> 
                     
         <div class="col-sm-12" style=" padding:0 0 2px 0; font-family:&#39;Century Gothic&#39; !important; color: #fff;">
                     
      


        <div class="tablediv" >
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Type</th>
                    <th>Auction</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of contacts ; let i = index">
                      <td>{{contact.name}}</td>
                      <td>{{i+1}}</td>
                      <td>{{contact.type}}</td>
                      <td>
                        <span class="fa fa-trash-o sign_icon" aria-hidden="true" style="padding-right:15px; display:inline !important;" title="Click this to delete the participant from list" data-toggle="tooltip" data-palcement="bottom"></span>
                        <span class="fa fa-pencil sign_icon" aria-hidden="true" title="Click this to edit the participant" data-toggle="tooltip" data-palcement="bottom"></span>
                      </td>
                  </tr>
                </tbody>
              </table>
        </div>




         </div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <a><button  class="bottom-nextbtn" (click)="participantModal.open()">Add Participants</button></a>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <a  *ngIf="contactList" routerLink="/pdfsign"><button class="bottom-nextbtn tofloat">Next</button></a>
</div>
        
                   
                   </div> 
             
             <!--</table>disableddisabled -->				
             
   
             
     <div class="clearfix"></div>
     
     <div class="particiapnt34" style="margin-left:1%; margin-top:4%; font-size:22px; color:000; font-family:&#39;Century Gothic&#39;">Note: Please upload PDF before adding participants</div>
           
     </div>
     
  
    
    </div>			  
        
    </div>
         
   <!-- /tab-content -->
       
   </div></div>

      <div class="clearfix"></div>
       
     </div>
     
     </div>
   
   </div>
  
   </div>


<div class="shade">
  
  <div class="popmsg">
   
   <p style="color:#FFFFFF; text-align:center;font-weight:900;font-size:16px;padding:10px 0; margin:0;" id="ses"></p>
 
 </div>

 </div> 
</div>
</div>   
  


<footer>
  <div class="container">
      <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="msgimgdiv">
              <img src="../../assets/img/chat.png" />
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyrighttext">
              <p>COPYRIGHT &copy; 2018.ALL RIGHTS RESERVED</p>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="social-icondiv">
              <ul>
                  <li>
                      <a href="#">
                          <img src="../../assets/img/insta.png" />
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="../../assets/img/fb.png" />
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="../../assets/img/twitter.png" />
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="../../assets/img/google-plus.png" />
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="../../assets/img/you.png" />
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="../../assets/img/test.png" />
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

